html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

/*
 * MUI Customizations
 * https://nextjs.org/docs/basic-features/built-in-css-support#sass-variables
 * https://sass-lang.com/guide
 */

/* https://m3.material.io/components/top-app-bar/overview */

.OFFMuiAppBar-colorPrimary {
  color: "#ff0000";
  background-color: "#00ff00";
}
